# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.rs text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.md text eol=lf

# Scripts
*.sh text eol=lf
justfile text eol=lf

# Binary files
*.wasm binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
